*{
    padding: 0;
    margin: 0;
}

 .navbar-top{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}


 .main-content{
    width: 100%;
    height: 90vh;
    background-image: url(./images/room.avif);
    background-position: center;
    background-size: cover;
    color: white;

 }



 .content{
    width: 600px;
    margin: 20px;

 }
 .navbar-nav{
    margin: auto;
 }
 .nav-link{
    margin:left;
    color: white;
 }

 .nav-link:hover{
    color: lightblue;
 }

 .btn1{
   background-color: blue;
 }

 .card{
    box-shadow: 0 0 5px black;
    cursor: pointer;
     
 }

 .card h4 {
    display: flex;
    justify-content: center;
 }

 .btnbutton{
    display: flex;
    align-items: center;
 }
  #btn2{
    width: 200px;
    background-color: blue ;
    border-radius: 5px;
   
 }